<a href="https://colab.research.google.com/github/BOLLOJUAISHWARYA/Google-collab-ANN/blob/main/Dataimporting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
df = pd.read_excel('Folds5x2_pp.xlsx', sheet_name = [1,2])

When we give none all are selected

In [ ]:
dfall=pd.read_excel('Folds5x2_pp.xlsx', sheet_name =None)
print(type(dfall))
dfall

<class 'dict'>

{'Sheet1':          AT      V       AP     RH      PE
 0     14.96  41.76  1024.07  73.17  463.26
 1     25.18  62.96  1020.04  59.08  444.37
 2      5.11  39.40  1012.16  92.14  488.56
 3     20.86  57.32  1010.24  76.64  446.48
 4     10.82  37.50  1009.23  96.62  473.90
 ...     ...    ...      ...    ...     ...
 9563  16.65  49.69  1014.01  91.00  460.03
 9564  13.19  39.18  1023.67  66.78  469.62
 9565  31.32  74.33  1012.92  36.48  429.57
 9566  24.48  69.45  1013.86  62.39  435.74
 9567  21.60  62.52  1017.23  67.87  453.28

 [9568 rows x 5 columns], 'Sheet2':          AT      V       AP     RH      PE
 0      9.59  38.56  1017.01  60.10  481.30
 1     12.04  42.34  1019.72  94.67  465.36
 2     13.87  45.08  1024.42  81.69  465.48
 3     13.72  54.30  1017.89  79.08  467.05
 4     15.14  49.64  1023.78  75.00  463.58
 ...     ...    ...      ...    ...     ...
 9563  17.10  49.69  1005.53  81.82  457.32
 9564  24.73  65.34  1015.42  52.80  446.92
 9565  30.44  56.24  1005.19  56.24  429.34
 9566  23.00  66.05  1020.61  80.29  421.57
 9567  17.75  49.25  1020.86  63.67  454.41

 [9568 rows x 5 columns], 'Sheet3':          AT      V       AP     RH      PE
 0      9.44  40.00  1015.62  81.16  471.32
 1     23.49  49.30  1003.35  77.96  442.76
 2      4.99  39.04  1020.45  78.89  472.52
 3     18.24  58.46  1017.38  86.92  449.63
 4     27.49  63.78  1015.43  47.45  445.66
 ...     ...    ...      ...    ...     ...
 9563  18.58  49.25  1019.92  60.24  452.94
 9564   9.61  44.03  1008.30  91.36  473.54
 9565  14.41  40.83  1009.82  80.43  470.13
 9566  14.11  45.08  1023.27  83.22  464.70
 9567  13.25  43.70  1013.61  76.05  472.22

 [9568 rows x 5 columns], 'Sheet4':          AT      V       AP     RH      PE
 0     23.25  71.29  1008.05  71.36  442.21
 1     13.87  42.99  1007.45  81.52  471.12
 2     16.91  43.96  1013.32  79.87  465.86
 3     10.09  37.14  1012.99  72.59  473.66
 4     12.72  40.60  1013.45  86.16  471.23
 ...     ...    ...      ...    ...     ...
 9563  28.27  66.56  1007.36  55.99  433.52
 9564  21.89  58.62  1016.15  74.59  450.05
 9565   3.20  41.31   997.67  98.84  489.86
 9566  17.79  43.52  1020.65  68.29  458.57
 9567  14.70  48.60  1006.91  85.65  460.63

 [9568 rows x 5 columns], 'Sheet5':          AT      V       AP     RH      PE
 0      8.34  40.77  1010.84  90.01  480.48
 1     23.64  58.49  1011.40  74.20  445.75
 2     29.74  56.90  1007.15  41.91  438.76
 3     19.07  49.69  1007.22  76.79  453.09
 4     11.80  40.66  1017.13  97.20  464.43
 ...     ...    ...      ...    ...     ...
 9563  15.12  48.92  1011.80  72.93  462.59
 9564  33.41  77.95  1010.30  59.72  432.90
 9565  15.99  43.34  1014.20  78.66  465.96
 9566  17.65  59.87  1018.58  94.65  450.93
 9567  23.68  51.30  1011.86  71.24  451.67

 [9568 rows x 5 columns]}

In [ ]:
df.keys()

dict_keys([1, 2])

In [ ]:
df.values()

dict_values([         AT      V       AP     RH      PE
0      9.59  38.56  1017.01  60.10  481.30
1     12.04  42.34  1019.72  94.67  465.36
2     13.87  45.08  1024.42  81.69  465.48
3     13.72  54.30  1017.89  79.08  467.05
4     15.14  49.64  1023.78  75.00  463.58
...     ...    ...      ...    ...     ...
9563  17.10  49.69  1005.53  81.82  457.32
9564  24.73  65.34  1015.42  52.80  446.92
9565  30.44  56.24  1005.19  56.24  429.34
9566  23.00  66.05  1020.61  80.29  421.57
9567  17.75  49.25  1020.86  63.67  454.41

[9568 rows x 5 columns],          AT      V       AP     RH      PE
0      9.44  40.00  1015.62  81.16  471.32
1     23.49  49.30  1003.35  77.96  442.76
2      4.99  39.04  1020.45  78.89  472.52
3     18.24  58.46  1017.38  86.92  449.63
4     27.49  63.78  1015.43  47.45  445.66
...     ...    ...      ...    ...     ...
9563  18.58  49.25  1019.92  60.24  452.94
9564   9.61  44.03  1008.30  91.36  473.54
9565  14.41  40.83  1009.82  80.43  470.13
9566  14.11  45.08  1023.27  83.22  464.70
9567  13.25  43.70  1013.61  76.05  472.22

[9568 rows x 5 columns]])

Notes: read_excel() method returns a dataframe or a dictionary of dataframes; whereas pd.ExcelFile() returns a reference object to the Excel file. as a dict of DataFrame

Reading particular sheet

In [ ]:
df1=pd.read_excel('Folds5x2_pp.xlsx',sheet_name='Sheet3')

In [ ]:
print(df1)
df1.size

         AT      V       AP     RH      PE
0      9.44  40.00  1015.62  81.16  471.32
1     23.49  49.30  1003.35  77.96  442.76
2      4.99  39.04  1020.45  78.89  472.52
3     18.24  58.46  1017.38  86.92  449.63
4     27.49  63.78  1015.43  47.45  445.66
...     ...    ...      ...    ...     ...
9563  18.58  49.25  1019.92  60.24  452.94
9564   9.61  44.03  1008.30  91.36  473.54
9565  14.41  40.83  1009.82  80.43  470.13
9566  14.11  45.08  1023.27  83.22  464.70
9567  13.25  43.70  1013.61  76.05  472.22

[9568 rows x 5 columns]

47840

Reading a particular sheet with first 1000 rows

In [ ]:
df2=pd.read_excel('Folds5x2_pp.xlsx',sheet_name='Sheet4',nrows=1000)
print(df2)
print(df2.shape)

        AT      V       AP     RH      PE
0    23.25  71.29  1008.05  71.36  442.21
1    13.87  42.99  1007.45  81.52  471.12
2    16.91  43.96  1013.32  79.87  465.86
3    10.09  37.14  1012.99  72.59  473.66
4    12.72  40.60  1013.45  86.16  471.23
..     ...    ...      ...    ...     ...
995  21.98  59.39  1015.25  84.52  446.79
996   8.91  43.52  1022.78  98.00  478.38
997  13.33  39.39  1013.93  84.74  471.23
998   5.21  35.79  1012.44  94.35  485.17
999   8.95  43.13  1017.56  94.85  479.14

[1000 rows x 5 columns]
(1000, 5)

Skipping some rows and reading the next

In [ ]:
df2_1=pd.read_excel('Folds5x2_pp.xlsx',sheet_name='Sheet4',skiprows=(1,1000),nrows=2000)

In [ ]:
print(df2_1)
print(df2_1.size)

         AT      V       AP      RH      PE
0     13.87  42.99  1007.45   81.52  471.12
1     16.91  43.96  1013.32   79.87  465.86
2     10.09  37.14  1012.99   72.59  473.66
3     12.72  40.60  1013.45   86.16  471.23
4     17.77  52.90  1020.11   81.51  457.98
...     ...    ...      ...     ...     ...
1994  21.47  58.79  1017.00   76.97  446.33
1995  13.67  41.48  1017.51   63.54  463.97
1996   9.24  41.40  1030.72   87.36  476.90
1997  18.14  49.78  1002.95  100.09  451.44
1998  25.56  60.32  1016.28   59.84  445.01

[1999 rows x 5 columns]
9995

In [ ]:
dfdict=pd.read_excel('Folds5x2_pp.xlsx',sheet_name=['Sheet4','Sheet5'])
print(type(dfdict))

<class 'dict'>

In [ ]:
dfdict

{'Sheet4':          AT      V       AP     RH      PE
 0     23.25  71.29  1008.05  71.36  442.21
 1     13.87  42.99  1007.45  81.52  471.12
 2     16.91  43.96  1013.32  79.87  465.86
 3     10.09  37.14  1012.99  72.59  473.66
 4     12.72  40.60  1013.45  86.16  471.23
 ...     ...    ...      ...    ...     ...
 9563  28.27  66.56  1007.36  55.99  433.52
 9564  21.89  58.62  1016.15  74.59  450.05
 9565   3.20  41.31   997.67  98.84  489.86
 9566  17.79  43.52  1020.65  68.29  458.57
 9567  14.70  48.60  1006.91  85.65  460.63

 [9568 rows x 5 columns], 'Sheet5':          AT      V       AP     RH      PE
 0      8.34  40.77  1010.84  90.01  480.48
 1     23.64  58.49  1011.40  74.20  445.75
 2     29.74  56.90  1007.15  41.91  438.76
 3     19.07  49.69  1007.22  76.79  453.09
 4     11.80  40.66  1017.13  97.20  464.43
 ...     ...    ...      ...    ...     ...
 9563  15.12  48.92  1011.80  72.93  462.59
 9564  33.41  77.95  1010.30  59.72  432.90
 9565  15.99  43.34  1014.20  78.66  465.96
 9566  17.65  59.87  1018.58  94.65  450.93
 9567  23.68  51.30  1011.86  71.24  451.67

 [9568 rows x 5 columns]}

In [ ]:
dftable=pd.DataFrame(dfdict)

ValueError: ignored

Selecting specific columns

In [ ]:
df3_1=pd.read_excel('Folds5x2_pp.xlsx',sheet_name='Sheet4',usecols=['AT','V'])
print(type(df3_1))
df3_1

<class 'pandas.core.frame.DataFrame'>

         AT      V
0     23.25  71.29
1     13.87  42.99
2     16.91  43.96
3     10.09  37.14
4     12.72  40.60
...     ...    ...
9563  28.27  66.56
9564  21.89  58.62
9565   3.20  41.31
9566  17.79  43.52
9567  14.70  48.60

[9568 rows x 2 columns]

Concatenating data from other sheets

In [ ]:
newData = pd.concat([df1,df2 ])
newData

        AT      V       AP     RH      PE
0     9.44  40.00  1015.62  81.16  471.32
1    23.49  49.30  1003.35  77.96  442.76
2     4.99  39.04  1020.45  78.89  472.52
3    18.24  58.46  1017.38  86.92  449.63
4    27.49  63.78  1015.43  47.45  445.66
..     ...    ...      ...    ...     ...
995  21.98  59.39  1015.25  84.52  446.79
996   8.91  43.52  1022.78  98.00  478.38
997  13.33  39.39  1013.93  84.74  471.23
998   5.21  35.79  1012.44  94.35  485.17
999   8.95  43.13  1017.56  94.85  479.14

[10568 rows x 5 columns]

To understand stastical distribution of data

In [ ]:
newData.describe()

                 AT             V            AP            RH            PE
count  10568.000000  10568.000000  10568.000000  10568.000000  10568.000000
mean      19.684197     54.339844   1013.254628     73.268659    454.301479
std        7.452057     12.695490      5.935035     14.613360     17.062972
min        1.810000     25.360000    992.890000     25.560000    420.260000
25%       13.520000     41.740000   1009.100000     63.230000    439.710000
50%       20.395000     52.300000   1012.930000     74.940000    451.435000
75%       25.760000     66.540000   1017.280000     84.790000    468.400000
max       37.110000     81.560000   1033.300000    100.160000    495.760000